

<nav>
    <ul class="nav-ul">
        <li class="nav-button">
            <a href="{{ url('index') }}">Главная</a>
        </li>
        {% if not request.user.is_authenticated %}
        <li class="nav-button">
            <a href="{{ url('auth:login') }}">Войти</a>
        </li>
        <li class="nav-button">
            <a href="{{ url('auth:register') }}">Зарегистрироваться</a>
        </li>
        {% else %}
        <li class="nav-button">
            <a href="{{ url('train_datasets_manager:list_train_datasets') }}">Данные для обучения</a>
        </li>
        <li class="nav-button">
            <a href="{{ url('video_manager:list_inference_videos') }}">Видео</a>
        </li>
        <li class="nav-button">
            <a href="{{ url('auth:logout') }}">Выйти</a>
        </li>
        {% endif %}
    </ul>
</nav>